<div class="container">
  <h1>Eat-Da-Burger!</h1>
  <div>
    <img src="/assets/burger_img.jpeg" alt="burger image" id="burger-image">
  </div>

  <h2>Create a Burger</h2>
  <form class="create-form">

    <div class="form-group">
      <label for="burger">Burger name:</label>
      <input type="text" id="burger" name="name">
    </div>

    <button type="submit">Add Burger</button>

    <div class="created">
      <h2>Burgers Created!</h2>

      <ul>
        {{#each burgers}}
        {{#unless this.devoured}}
        <h3> Name: {{this.burger_name}}</h3>
        <button class="devoured" id={{this.id}}>Eat Burger</button>
        {{/unless}}
        {{/each}}
      </ul>
    </div>

    <div class="devoured">
      <h2>Burgers Devoured!</h2>

      <ul>
        {{#each burgers}}
        {{#if this.devoured}}
        <h3>Name: {{this.burger_name}}</h3>
        {{/if}}
        {{/each}}
      </ul>
    </div>
</div>

</form>